:root {
    --color1: #061d24;
    --color2: #0c3741;
    --color3: #155e65;
    --color4: #228a93;
    --color5: #3fbfcc;
    --color6: white;

    font-size: 62.5%;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 2em;
    background-color: var(--color1);
    color: var(--color6);
}

.h1-div {
    font-size: 5em;
    margin-bottom: 0;
}

.h2-div {
    font-size: 3em;
}
 nav {
    display: flex;
    padding: 1em 0 1em 1em;
    border-bottom: 1px solid var(--color6);
 }

 nav  a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    
 }

article {
    padding: 1em;
}

.contain_cel {
    width: 10em;
    border: 1px solid var(--color5);
}

.contain_img {
    width: 100%;
}

.contain_img img {
    width: 100%;
    display: block;
}

section h2 {
    text-align: center;
}

@media screen and (min-width: 38em) {

}