:root {
    --color1: #061d24;
    --color2: #0c3741;
    --color3: #155e65;
    --color4: #228a93;
    --color5: #3fbfcc;
    --color6: white;

    font-size: 62.5%;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 2em;
    background-color: var(--color1);
    color: var(--color6);
    border-bottom: 3px solid white;
}

.h1-header {
    font-size: 4.6em;
    margin-bottom: 0;
    text-align: center;
}

.h2-div {
    font-size: 3em;
}

nav {
    display: flex;
    padding: 1em 0 1em 1em;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}

nav a:hover {
    color: var(--color1);
}


hr {
    width: 30em;
}

.div_main {
    width: 100vw;
}

.div_main img {
    width: 100%;
    display: block;
}

article {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.contain_cel {
    width: 8em;
    border: 1px solid rgb(0, 0, 0, 0.7);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--color6);
    text-align: center;
}

.contain_cel:hover {
    transform: scale(1.2);
}

.contain_img {
    width: 100%;
}

.contain_img img {
    width: 100%;
    display: block;
}

.contain_desc {
    background-color: var(--color1);
}

section h2 {
    text-align: center;
    font-size: 2em;
}

@media screen and (min-width: 38em) {}