html {
    --color1: #061d24;
    --color2: #0c3741;
    --color3: #155e65;
    --color4: #228a93;
    --color5: #3fbfcc;
    --color6: white;

    font-size: 62.5%;

}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px;
    background-color: var(--color1);
    color: var(--color6) ;
}

.title-div {
    margin: 0px 0px 0px 20px;
}

.h1-div {
    font-size: 5em;
    margin-bottom: 0;
}

.h2-div {
    font-size: 3em;
}