:root {
    --color1: #061d24;
    --color2: #0c3741;
    --color3: #155e65;
    --color4: #228a93;
    --color5: #3fbfcc;
    --color6: white;
}

body {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color6);
}

fieldset {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: none;
}

form {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    width: 16em;

}

legend {
    text-align: center;
}

div {
    display: flex;
    margin-top: .5em;
    gap: 3em;
}

div input {
    flex-grow: 1;
}

@media screen and (min-width: 600px) {

}